.field--name-field-crosswords-hcolumn,
.field--name-field-crosswords-hrow,
.field--name-field-crosswords-text {
  display: none;
}

div.crosswords-hint-head-label-wrapper {
  margin-bottom: 15px;
}

.add_remove_horizontal_row_hint_msg,
.add_remove_verticle_row_hint_msg {
  color: red;
}

div.crosswords-horizontal-text-div,
div.crosswords-verticle-text-div {
  float: left;
  width: 100%;
  margin-top: 10px;
}

ul.crosswords-horizontal-ul-wrapper,
ul.crosswords-verticle-ul-wrapper {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

ul.crosswords-horizontal-ul-wrapper li,
ul.crosswords-verticle-ul-wrapper li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.crosswords-horizontal-ul-wrapper li ul,
ul.crosswords-verticle-ul-wrapper li ul {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

ul.crosswords-horizontal-ul-wrapper li ul li,
ul.crosswords-verticle-ul-wrapper li ul li {
  margin: 0;
  float: left;
  padding: 0 15px 15px 0;
}

input.crosswords-input-class {
  float: right;
  width: 500px;
}
