.crossword {
  background-color: #000;
  border-collapse: separate;
  border-left: 1px solid #000;
  border-spacing: 0;
  border-top: 1px solid #000;
  counter-reset: req;
  empty-cells: hide;
}

.crossword caption h1 {
  display: inline;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.crossword caption h2 {
  display: inline;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.crossword td {
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  height: 30px;
  text-align: left;
  vertical-align: top;
  width: 30px;
  padding: 6px;
}

.crossword td.sel {
  background-color: #ff9;
}

.crossword td.err {
  background-color: red;
}

.crossword td[id] {
  counter-increment: req;
}

.crossword td[id]:before {
  content: counter(req);
  font-size: 10px;
  position: absolute;
  margin: -5px;
}

.crossword td input {
  background-color: transparent;
  border: 0;
  font-size: 15px;
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
}

#definitions {
  background-color: #ccc;
  float: left;
  width: 400px;
}

#definitions .pointer li {
  cursor: pointer;
}

#definitions .pointer li:hover {
  background-color: #069;
}

#tooltip {
  background-color: #0ff;
  border: 2px solid #00f;
  color: #000;
  display: none;
  opacity: .7;
  position: absolute;
  width: 200px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
}

#create:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

#create fieldset {
  float: left;
  margin: 0;
  padding: 0;
}
